* {
  font-family: 'Major Mono Display', monospace;
  margin: 0;
  padding: 0;
}
body {
  background-color: #000;
}
h1 {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 3rem;
  height: 100vh;
  justify-content: center;
  margin: 0rem 3rem;
}
